{{template "header.tmpl" .}}

{{template "nav.tmpl" .}}

  <div class="nav nav-tabs" id="rangeTabs" role="tablist">
{{range .ChartDataStats}}
    <button class="nav-link{{if eq .CSSId "twentyfourhours" }} active{{end}}{{if .IsGenerated}}{{else}} disabled{{end}}"
      id="{{ .CSSId}}-tab" data-bs-toggle="tab" data-bs-target="#{{ .CSSId}}" type="button" role="tab" aria-controls="{{ .CSSId}}"
      {{if eq .CSSId "twentyfourhours" }}aria-selected="true"{{else}}aria-selected="false"{{end}}>{{ .DataTitle }}</button>
{{end}}
  </div>

  <!-- Tab panes -->
  <div class="tab-content" id="graphTabContent">
{{range .ChartDataStats}}
  {{if .IsGenerated}}
    <div class="tab-pane fade{{if eq .CSSId "twentyfourhours" }} show active{{end}}" id="{{ .CSSId }}" role="tabpanel" aria-labelledby="{{ .CSSId }}-tab">
      <h2>Chart {{ .DataTitle }}</h2>
      <p><img src="{{ .ChartPath }}" class="img-fluid" /><br />
      <small class="text-muted">chart generated with {{ .NumOfDataPoints }} data points at {{ .GenTime }}</small></p>
      <table class="table table-hover" style="width: auto;">
        <thead class="thead-default"><tr><th scope="col"></th><th scope="col">Total</th><th scope="col">Unread</th></tr></thead>
        <tbody>
          <tr><th scope="row">max</th><td>{{ .TotalMax }}</td><td>{{ .UnreadMax }}</td></tr>
          <tr><th scope="row">min</th><td>{{ .TotalMin }}</td><td>{{ .UnreadMin }}</td></tr>
          <tr><th scope="row">difference</th><td>{{ minus .TotalMax .TotalMin }}</td><td>{{ minus .UnreadMax .UnreadMin }}</td></tr>
          <tr><th scope="row">current</th><td>{{ .TotalCurrent }}</td><td>{{ .UnreadCurrent }}</td></tr>
        </tbody>
      </table>
    </div>
  {{end}}
{{end}}
  </div>

{{template "footer.tmpl" .}}
